body {
    background-color: #ddd;
}

/* Layout of the whole page */
main {
    display: grid;
    grid-template-areas: 
    "company-info tickers"
    "graph graph";
    grid-template-columns: 2fr 1fr;
}

#ticker-selector {
    grid-area: tickers;
}

#tickers-refresh {
    grid-area: tickers;
    align-self: end;
    justify-self: end;
}

#type-selector {
    grid-area: tickers;
    align-self: center;
}

#company-info {
    grid-area: company-info;
    max-height: 20vh;
    overflow-y: auto;
    background-color: #ddd;
}

#stock-evolution-graph {
    grid-area: graph;
    height: 80vh;
}

/* Layout of company information card */
#company-info {
    display: grid;
    grid-template-areas: 
    "title image"
    "description description";
    grid-template-columns: 1fr auto;
}

#company-info h2 {
    grid-area: title;
}

#company-info img {
    grid-area: image;
    max-width: 10vw;
}

#company-info p {
    grid-area: description;
}

.dropdown-option {
    display: flex;
    column-gap: 1em;
}

.dropdown-option img {
    height: 20px;
}
