body {
    background-color: #ddd;
}

/* Layout of the whole page */
main {
    display: grid;
    grid-template-areas: 
    "tickers company-info"
    "graph graph";
    grid-template-columns: 1fr 2fr;
}

#ticker-selector {
    grid-area: tickers;
}

#tickers-refresh {
    grid-area: tickers;
    align-self: end;
    justify-self: end;
}

#type-selector {
    grid-area: tickers;
    align-self: center;
}

#company-info {
    grid-area: company-info;
    max-height: 20vh;
    overflow-y: auto;
    background-color: #ddd;
}

#stock-evolution-graph {
    grid-area: graph;
    height: 80vh;
}

#errors {
    grid-area: graph;
    color: red;
    font-weight: bold;
    z-index: 1;
    align-self: center;
    justify-self: center;
    background-color: white;
}

#errors.active {
    padding: 0.5em;
    border: 1px solid black;
}

/* Layout of company information card */
#company-info {
    display: grid;
    grid-template-areas: 
    "title image"
    "description description";
    grid-template-columns: 1fr auto;
}

#company-info h2 {
    grid-area: title;
}

#company-info img {
    grid-area: image;
    max-width: 10vw;
}

#company-info p {
    grid-area: description;
}

/* Override React's defaults for drop down menu */
.VirtualizedSelectOption,
.Select-control {
    background-color: #ddd;
}

.VirtualizedSelectFocusedOption,
.VirtualizedSelectSelectedOption {
    background-color: #ccc;
}

.dropdown-option {
    display: inline-flex;
    column-gap: 1em;
}

.dropdown-option img {
    height: 20px;
    align-self: center;
}
