#cover .content {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 25cm;
}

#cover-image {
    align-self: center;
}

#cover-image .title {
    font-size: 0.6em;
}

#author {
    align-self: end;
    justify-self: end;
}
